<!DOCTYPE html>
<html layout:decorate="~{layout}" th:with="titulo='Empresas'" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<section layout:fragment="conteudo">
    <h1 class="mb-3">Empresas (Somente Visualização)</h1>
    <table class="table table-bordered table-hover">
        <thead class="table-dark"><tr><th>Nome</th><th>CNPJ</th></tr></thead>
        <tbody><tr th:each="e : ${empresas}"><td th:text="${e.nomeEmpresa()}"></td><td th:text="${e.cnpj()}"></td></tr></tbody>
    </table>
</section>
</html>