<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="titulo='Lista de Motos'">

<section layout:fragment="conteudo">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Motos Cadastradas</h1>
        <a href="/web/motos/novo" class="btn btn-success">Cadastrar Nova Moto</a>
    </div>

    <div th:if="${mensagem}" class="alert alert-success" th:text="${mensagem}"></div>
    <div th:if="${mensagemErro}" class="alert alert-danger" th:text="${mensagemErro}"></div>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Ano Fabricação</th>
            <th>Status</th>
            <th class="text-center">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="moto : ${motos}">
            <td th:text="${moto.placa}"></td>
            <td th:text="${moto.modelo}"></td>
            <td th:text="${moto.anoFabricacao}"></td>
            <td th:text="${moto.statusMoto}"></td>
            <td class="text-center">
                <a th:href="@{/web/motos/editar/{id}(id=${moto.id})}"
                   class="btn btn-warning btn-sm">Editar</a>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                   th:href="@{/web/motos/deletar/{id}(id=${moto.id})}"
                   class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>
