<!DOCTYPE html>
<html layout:decorate="~{layout}" th:with="titulo=${funcionarioId != null ? 'Editar Funcionário' : 'Novo Funcionário'}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<section layout:fragment="conteudo">
    <h1 th:text="${funcionarioId != null ? 'Editar Funcionário' : 'Novo Funcionário'}"></h1>
    <div class="card"><div class="card-body">
        <form th:action="${funcionarioId != null} ? @{/web/funcionarios/atualizar/{id}(id=${funcionarioId})} : @{/web/funcionarios/salvar}" th:object="${funcionarioRequest}" method="post">
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" th:field="*{password}" th:errorclass="is-invalid" th:placeholder="${funcionarioId != null} ? 'Deixe em branco para não alterar' : ''">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
        </form>
    </div></div>
</section>
</html>