<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}" th:with="titulo='Lista de Clientes'" xmlns:layout="http://www.w3.org/1999/xhtml">
<section layout:fragment="conteudo">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Clientes Cadastrados</h1>
        <a href="/web/clientes/novo" class="btn btn-success">Cadastrar Novo Cliente</a>
    </div>

    <div th:if="${mensagem}" class="alert alert-success" th:text="${mensagem}"></div>
    <div th:if="${mensagemErro}" class="alert alert-danger" th:text="${mensagemErro}"></div>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Nome</th><th>Telefone</th><th>Email</th><th class="text-center">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.nomeCliente}"></td>
            <td th:text="${cliente.telefoneCliente}"></td>
            <td th:text="${cliente.emailCliente}"></td>
            <td class="text-center">
                <a th:href="@{/web/clientes/editar/{id}(id=${cliente.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                   th:href="@{/web/clientes/deletar/{id}(id=${cliente.id})}"
                   class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>