<!DOCTYPE html>
<html layout:decorate="~{layout}" th:with="titulo=${noticia.titulo}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<section layout:fragment="conteudo">
    <div class="container mt-4">
        <article>
            <header class="mb-4">
                <h1 class="fw-bolder mb-1" th:text="${noticia.titulo}"></h1>
                <div class="text-muted fst-italic mb-2"
                     th:text="'Publicado em ' + ${#temporals.format(noticia.dataPublicacao, 'dd MMMM, yyyy')} + ' por ' + ${noticia.autor.nome}"></div>
                <span th:each="cat : ${noticia.categorias}" class="badge bg-secondary me-1" th:text="${cat.nome}"></span>
            </header>
            <section class="mb-5">
                <p class="fs-5 mb-4" th:utext="${#strings.replace(noticia.conteudo, T(java.lang.System).getProperty('line.separator'), '&lt;br/&gt;')}"></p>
            </section>
        </article>
        <a th:href="@{/web/noticias}" class="btn btn-success">Voltar para Notícias</a>
    </div>
</section>
</html>