spring:
  application:
    name: easymoto

  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@oracle.fiap.com.br:1521/orcl
    username: rm557177
    password: 170403

  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

flyway:
  enabled: false

logging:
  level:
    com.zaxxer.hikari: DEBUG
    org.hibernate.engine.jdbc.spi.SqlExceptionHelper: DEBUG
    org.springframework.boot.autoconfigure.orm.jpa: DEBUG
